* {
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: block;
  align-items: center;
  justify-content: center;
  line-height: auto;
}

/*--------------------------------------------- Header + Hero section ---------------------------------------------*/

.header {
  height: 800px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 50px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.box {
  position: relative;
  width: 1440px;
  margin: auto;
}

.box .page-content {
  position: relative;
  width: 1440px;
  height: 703px;
  bottom: 0px;
}

.Headline {
  margin-top: 100px;
  text-decoration: underline;
  color: #000000;
}

.page-content .button {
  display: flex;
  width: 150px;
  height: 20px;
  padding: 16px;
  position: absolute;
  top: 640px;
  color: white;
  background-color: #000000;
  border-radius: 4px;
  border-style: dotted;
}

.box .picture-container {
  position: absolute;
  top: 167px;
  left: 448px;
}

.box .picture-frame {
  position: relative;
  width: 1392px;
  height: 536px;
}
.box article {
  position: absolute;
  width: 480px;
  top: 169px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-indent: 20px;
  word-spacing: auto;
}

.box .text-wrapper {
  position: absolute;
  width: 1400px;
  left: 530px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 5;
}

/*----------------------------------- Showcase section -----------------------*/
/*----------------------------------- Showcase Landscape and Bridges -----------------------*/
.subShowcase2 {
  width: 100%;
  background-color: #56b1f0;
  margin: auto;
  height: 300px;
  border-width: auto;
}

.page-content .button-2 {
  display: flex;
  width: 150px;
  left: 76px;
  height: 20px;
  padding: 16px;
  position: absolute;
  top: 315px;
  color: white;
  background-color: #000000;
  border-radius: 4px;
}
.subShowcase {
  position: relative;
  top: 150px;
  background-color: #fff;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.subShowcase .overlap-group {
  position: relative;
  left: 150px;
  bottom: 20px;
  width: 0;
  height: 250px;
}

.subShowcase .text-wrapper {
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  width: 100%;
  height: 100%;
}

.subShowcase .header {
  position: absolute;
  width: 930px;
  height: 30px;
  top: 75px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
}

.subShowcase .header-text {
  position: absolute;
  width: 1460px;
  top: 148px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
}

/*---------------------------------------------Contact-Section----------------------------------*/

.Contactbox {
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 60px;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Contactbox .contactsection {
  position: relative;
  width: 1440px;
  height: 183px;
  top: 0;
  left: 0;
}

.Contactbox .overlap-group {
  position: relative;
}

.Contactbox .rectangle {
  position: absolute;
  width: 1253px;
  height: 183px;
  top: 0;
  left: 190px;
  background-color: #ffffff;
  border-radius: 30px;
}

.Contactbox .text-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 60px;
  left: 90px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #56b1f0;
  font-size: 40px;
  text-align: center;
}

.Contactbox .lettering-contact-us {
  position: absolute;
  width: 275px;
  height: 162px;
}

.Contactbox .button {
  display: flex;
  width: 150px;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  top: 125px;
  left: 760px;
  background-color: #000000;
  border-radius: 4px;
}

.Contactbox .get-started {
  position: relative;
  font-family: "Righteous", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  white-space: nowrap;
}

/*------------------------------------------------Footer-------------------------------------*/

.footerbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footerbox .footer {
  position: relative;
  top: 13em;
  width: 100%;
  margin: auto;
}

.footerbox .img {
  position: relative;
  justify-content: space-between;
  display: inline-block;
  width: 1.875em;
  height: 1.875em;
  top: 4.375em;
  left: 104.125em;
}

.footerbox .copyright {
  position: absolute;
  width: 21.875em;
  left: 3.125em;
  top: 1.625em;
  color: #000000;
  text-align: right;
}

.footerbox .navbar {
  position: absolute;
  right: 5em;
  display: flex;
  list-style-type: none;
}

.footerbox .navbar a {
  color: #000000;
  text-align: right;
  text-decoration: none;
  margin-right: 3.75em;
}

.footerbox .navbar a:hover {
  color: #ffffff;
}
