* {
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: block;
  align-items: center;
  justify-content: center;
}

/*--------------------------------------------- Header + Hero section ---------------------------------------------*/

.header {
  height: 800px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 50px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.box {
  position: relative;
  width: 1440px;
  margin: auto;
}

.box .page-content {
  position: relative;
  width: 1440px;
  height: 703px;
  bottom: 0px;
}

.Headline {
  margin-top: 100px;
  text-decoration: underline;
  color: #000000;
}

.page-content .button {
  display: flex;
  width: 200px;
  height: 20px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  top: 650px;
  color: white;
  background-color: #000000;
  border-radius: 4px;
}

.box .picture-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 167px;
  left: 448px;
}

.box .picture-frame {
  position: relative;
  width: 892px;
  height: 536px;
  z-index: 1;
}

.box .pictures {
  position: absolute;
}

.box .IMG {
  position: absolute;
  width: 600px;
  top: 1px;
  border-radius: 30px 0px 0px 30px;
  left: 5px;
  height: 533px;
  object-fit: cover;
}

.box .img {
  position: absolute;
  width: 288px;
  border-radius: 0px 30px 0px 0px;
  height: 267px;
  top: 2px;
  left: 598px;
  object-fit: cover;
}

.box .IMG-2 {
  position: absolute;
  border-radius: 0px 0px 30px 0px;
  width: 287px;
  height: 264px;
  top: 269px;
  left: 600px;
  object-fit: cover;
}

.box article {
  position: absolute;
  width: 366px;
  top: 169px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
}

.box .text-wrapper {
  position: absolute;
  width: 1100px;
  left: 530px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 5;
}

/*----------------------------------- Showcase section -----------------------*/
/*----------------------------------- Showcase Landscape and Bridges -----------------------*/
.subShowcase2 {
    width: 100%;
    background-color:#56b1f0;
    margin: auto;
  }
.subShowcase {
  position: relative;
  top: 150px;
  background-color: #fff;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tips ul {
  padding-top: 50px;
  list-style-type: disc;
}

.subShowcase .overlap-group {
  position: relative;
  left: 200px;
  width: 0;
  height: 950px;
}

.subShowcase .img {
  position: absolute;
  border-radius: 30px;
  width: 567px;
  height: 666px;
  top: 243px;
  left: 900px;
  object-fit: cover;
}

.subShowcase article {
  position: absolute;
  width: 660px;
  top: 243px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
}

.subShowcase .text-wrapper {
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
}

.subShowcase .tips {
  font-size: 20px;
}

.subShowcase .header {
  position: absolute;
  width: 710px;
  height: 30px;
  top: 75px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
}

.subShowcase .header-text {
  position: absolute;
  width: 1289px;
  top: 148px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
}


/*---------------------------------------------Contact-Section----------------------------------*/

.Contactbox {
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 60px;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Contactbox .contactsection {
  position: relative;
  width: 1440px;
  height: 183px;
  top: 0;
  left: 0;
}

.Contactbox .overlap-group {
  position: relative;
}

.Contactbox .rectangle {
  position: absolute;
  width: 1253px;
  height: 183px;
  top: 0;
  left: 190px;
  background-color: #ffffff;
  border-radius: 30px;
}

.Contactbox .text-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 60px;
  left: 90px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #56b1f0;
  font-size: 40px;
  text-align: center;
}

.Contactbox .lettering-contact-us {
  position: absolute;
  width: 275px;
  height: 162px;
}

.Contactbox .button {
  display: flex;
  width: 150px;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  top: 125px;
  left: 760px;
  background-color: #000000;
  border-radius: 4px;
}

.Contactbox .get-started {
  position: relative;
  font-family: "Righteous", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  white-space: nowrap;
}

/*------------------------------------------------Footer-------------------------------------*/

.footerbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footerbox .footer {
  position: relative;
  top: 11em;
  width: 100%;
  margin: auto;
}

.footerbox .img {
  position: relative;
  justify-content: space-between;
  display: inline-block;
  width: 1.875em;
  height: 1.875em;
  top: 4.375em;
  left: 104.125em;
}

.footerbox .copyright {
  position: absolute;
  width: 21.875em;
  left: 3.125em;
  top: 1.625em;
  color: #000000;
  text-align: right;
}

.footerbox .navbar {
  position: absolute;
  right: 5em;
  display: flex;
  list-style-type: none;
}

.footerbox .navbar a {
  color: #000000;
  text-align: right;
  text-decoration: none;
  margin-right: 3.75em;
}

.footerbox .navbar a:hover {
  color: #ffffff;
}
