* {
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: block;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

/*--------------------------------------------- Header + Hero section ---------------------------------------------*/

.header {
  height: 800px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 50px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links a:link {
  text-decoration: none;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.box {
  position: relative;
  width: 1440px;
  margin: auto;
}

.box .page-content {
  position: relative;
  width: 1440px;
  height: 703px;
  bottom: 0px;
}

.Headline {
  margin-top: 100px;
  text-decoration: underline;
  color: #000000;
}

.page-content .button {
  display: flex;
  width: 200px;
  height: 20px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  top: 650px;
  color: white;
  background-color: #000000;
  border-radius: 4px;
  border-style: dotted;
}

.box .picture-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 167px;
  left: 448px;
}

.box .picture-frame {
  position: relative;
  width: 892px;
  height: 536px;
  z-index: 1;
}

.box .pictures {
  position: absolute;
}

.box .IMG {
  position: absolute;
  width: 600px;
  top: 1px;
  border-radius: 30px 0px 0px 30px;
  left: 5px;
  height: 533px;
  object-fit: cover;
}

.box .img {
  position: absolute;
  width: 288px;
  border-radius: 0px 30px 0px 0px;
  height: 267px;
  top: 2px;
  left: 598px;
  object-fit: cover;
}

.box .IMG-2 {
  position: absolute;
  border-radius: 0px 0px 30px 0px;
  width: 287px;
  height: 264px;
  top: 269px;
  left: 600px;
  object-fit: cover;
}

.box article {
  position: absolute;
  width: 366px;
  top: 169px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-indent: 0;
  word-spacing: 0;
}

.box .text-wrapper {
  position: absolute;
  width: 1100px;
  left: 530px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .box {
    width: 90%;
    margin: 0 auto;
  }

  .box .page-content {
    position: relative;
    width: 90%;
    height: 600px;
    bottom: 0px;
  }

  .box .picture-container {
    position: relative;
    top: 327px;
    left: 60px;
  }

  .box .picture-frame {
    display: block;
    width: 90%;
    height: 350px;
    bottom: 10px;
    left: 15px;
    z-index: 1;
  }

  .box .pictures {
    display: flex;
    flex-wrap: wrap;
  }

  .box .IMG {
    position: relative;
    width: 350px;
    height: 310px;
    margin: 0 10px;
    top: 10px;
    object-fit: cover;
  }

  .box .img {
    position: relative;
    width: 165px;
    height: 160px;
    left: 0px;
    top: 10px;
    padding-right: 25px;
    object-fit: cover;
  }

  .box .IMG-2 {
    position: relative;
    width: 165px;
    height: 155px;
    left: 370px;
    top: -145px;
    bottom: 0px;
    object-fit: cover;
  }

  .box article {
    position: absolute;
    width: 500px;
    top: 130px;
    left: 80px;
    font-family: "Righteous", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
  }

  .box .text-wrapper {
    position: relative;
    width: 600px;
    bottom: 380px;
    font-family: "Righteous", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    left: 160px;
    text-align: center;
  }

  .Headline {
    margin-top: 20px;
    text-decoration: underline;
    color: #000000;
  }

  .page-content .button {
    display: flex;
    width: 200px;
    height: 20px;
    padding: 16px;
    position: relative;
    top: 780px;
    color: white;
    background-color: #000000;
    border-radius: 4px;
    border-style: dotted;
  }
}

/*----------------------------------- Showcase section -----------------------*/
/*----------------------------------- Showcase Landscape and Bridges -----------------------*/
.subShowcase2 {
  width: 100%;
  background-color: #56b1f0;
  margin: auto;
  border-width: 1px;
}
.subShowcase {
  position: relative;
  top: 150px;
  background-color: #fff;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tips ul {
  padding-top: 50px;
  list-style-type: disc;
}

.subShowcase .overlap-group {
  position: relative;
  left: 200px;
  width: 0;
  height: 950px;
}

.subShowcase .img {
  position: absolute;
  border-radius: 30px;
  width: 567px;
  height: 666px;
  top: 243px;
  left: 900px;
  object-fit: cover;
}

.subShowcase article {
  position: absolute;
  width: 660px;
  top: 243px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
}

.subShowcase .text-wrapper {
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
}

.subShowcase .tips {
  font-size: 20px;
}

.subShowcase .header {
  position: absolute;
  width: 710px;
  height: 30px;
  top: 75px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
}

.subShowcase .header-text {
  position: absolute;
  width: 1289px;
  top: 148px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
}

/*---------------------------------------------Contact-Section----------------------------------*/

.Contactbox {
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 60px;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Contactbox .contactsection {
  position: relative;
  width: 1440px;
  height: 183px;
  top: 0;
  left: 0;
}

.Contactbox .overlap-group {
  position: relative;
}

.Contactbox .rectangle {
  position: absolute;
  width: 1253px;
  height: 183px;
  top: 0;
  left: 190px;
  background-color: #ffffff;
  border-radius: 30px;
}

.Contactbox .text-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 60px;
  left: 90px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #56b1f0;
  font-size: 40px;
  text-align: center;
}

.Contactbox .lettering-contact-us {
  position: absolute;
  width: 275px;
  height: 162px;
}

.Contactbox .button {
  display: flex;
  width: 150px;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  top: 125px;
  left: 760px;
  background-color: #000000;
  border-radius: 4px;
}

.Contactbox .get-started {
  position: relative;
  font-family: "Righteous", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .Contactbox {
    position: relative;
    top: 15%;
    transform: translateY(-50%);
    width: 100%;
    padding-top: 30px;
  }

  .Contactbox .contactsection {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .Contactbox .overlap-group {
    display: flex;
    flex-direction: column;
    right: 50px;
    justify-content: center;
    align-items: center;
  }

  .Contactbox .rectangle {
    width: 70%;
    top: 50px;
    height: 160px;
    background-color: #ffffff;
    border-radius: 30px;
  }

  .Contactbox .text-wrapper {
    font-size: 20px;
    top: 100px;
  }

  .Contactbox .lettering-contact-us {
    width: auto;
    height: 120px;
    left: 10%;
    top: 55px;
    margin: 0 auto 20px;
  }

  .Contactbox .button {
    width: 100px;
    height: 36px;
    padding: 12px;
    top: 150px;
    left: 50%;
  }

  .Contactbox .get-started {
    font-size: 12px;
  }
}

/*--------------------------SHOWCASE-------------*/
.subShowcase2 {
  width: 100%;
  background-color: #56b1f0;
  margin: auto;
  border-width: 1px;
}
.subShowcase {
  position: relative;
  top: 150px;
  background-color: #fff;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tips ul {
  padding-top: 50px;
  list-style-type: disc;
}

.subShowcase .overlap-group {
  position: relative;
  left: 200px;
  width: 0;
  height: 950px;
}

.subShowcase .img {
  position: absolute;
  border-radius: 30px;
  width: 567px;
  height: 666px;
  top: 243px;
  left: 900px;
  object-fit: cover;
}

.subShowcase article {
  position: absolute;
  width: 660px;
  top: 243px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
}

.subShowcase .text-wrapper {
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
}

.subShowcase .tips {
  font-size: 20px;
}

.subShowcase .header {
  position: absolute;
  width: 710px;
  height: 30px;
  top: 75px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
}

.subShowcase .header-text {
  position: absolute;
  width: 1289px;
  top: 148px;
  left: 75px;
  font-family: "Righteous", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
}

@media (max-width: 768px) {
  .subShowcase {
    margin-top: 50px;
  }
  .subShowcase .overlap-group {
    width: 100%;
  }
  .subShowcase .img {
    width: 50%;
    height: 40%;
    top: 220px;
    right: 0;
    left: -100px;
    object-fit: cover;
  }
  .subShowcase article {
    width: 90%;
    height: auto;
    top: 500px;
    left: 0;
  }

  .subShowcase .header {
    position: absolute;
    width: 710px;
    height: 30px;
    top: 55px;
    left: -110px;
    font-family: "Righteous", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
  }

  .subShowcase .header-text {
    position: absolute;
    width: 80%;
    top: 100px;
    left: -110px;
    font-family: "Righteous", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
  }

  .subShowcase .text-wrapper {
    position: relative;
    font-family: "Righteous", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    top: 120px;
    left: -110px;
    display: flex;
    width: 87%;
  }

  .subShowcase .tips {
    font-size: 20px;
    display: flex;
    position: relative;
    top: 80px;
    left: -75px;
    width: 80%;
  }
}

/*------------------------------------------------Footer-------------------------------------*/

.footerbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footerbox .footer {
  position: relative;
  top: 11em;
  width: 100%;
  margin: auto;
}

.footerbox .img {
  position: relative;
  justify-content: space-between;
  display: inline-block;
  width: 1.875em;
  height: 1.875em;
  top: 4.375em;
  left: 104.125em;
}

.footerbox .copyright {
  position: absolute;
  width: 21.875em;
  left: 3.125em;
  top: 1.625em;
  color: #000000;
  text-align: right;
}

.footerbox .navbar {
  position: absolute;
  right: 5em;
  display: flex;
  list-style-type: none;
}

.footerbox .navbar a {
  color: #000000;
  text-align: right;
  text-decoration: none;
  margin-right: 3.75em;
}

.footerbox .navbar a:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .footerbox .footer {
    padding-top: 25%;
    flex-direction: column;
    width: 80%;
    height: 50%;
  }

  .footerbox .footer img {
    width: 20px;
    height: 20px;
    left: -0;
  }

  .footerbox .copyright {
    font-size: 17px;
    padding-top: 45%;
    line-height: 50px;
  }

  .footerbox .navbar {
    width: 80%;
  }
}